# Python temp files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook temp files
.ipynb_checkpoints/

# Don't commit my configs
# Actually, let's commit my main config right now as an example so
# people don't need to reverse it.
#*.yml
