# JupyterLab specific modules
jupyterlab
ipynb

# Data format modules
pyyaml

# Analysis/Graphing modules
matplotlib

# Because Korelogic is cruel
# Used for PGP messages (aka submission to CMIYC contests
PGPy